@use 'sass:map';
@use '../../1-Settings/css-properties/font-size/major-second';
@use '../../1-Settings/css-properties/colors/safety';
@use '../../1-Settings/css-properties/colors/text';
@use '../../2-Tools/functions/convertions/pixel';

.page-state--error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .error {
        &__img {
            display: flex;
            width: 180px;
            margin-bottom: pixel.toRem(21);
            img {
                width: 100%;
            }
        }
        &__title{
            font-weight: 700;
            text-align: center;
            color: map.get(safety.$danger, 500);
            font-size: pixel.toRem(map.get(major-second.$scale, 5));
        }
        &__msg{
            font-weight: 500;
            text-align: justify;
            color: map.get(text.$main, 600);
            font-size: pixel.toRem(map.get(major-second.$scale, 2));
        }
    }
}
